<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

  <contextListener class="cz.sefira.obelisk.logging.LoggerStartupListener"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="DAILY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${APP_USER_HOME}/logs/sp-client.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${APP_USER_HOME}/logs/sp-client.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>14</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>


  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="DAILY_FILE"/>
  </root>

</configuration>