/**
 * © Nowina Solutions, 2015-2015
 * © SEFIRA spol. s r.o., 2020-2021
 *
 * Concédée sous licence EUPL, version 1.1 ou – dès leur approbation par la Commission européenne - versions ultérieures de l’EUPL (la «Licence»).
 * Vous ne pouvez utiliser la présente œuvre que conformément à la Licence.
 * Vous pouvez obtenir une copie de la Licence à l’adresse suivante:
 *
 * http://ec.europa.eu/idabc/eupl5
 *
 * Sauf obligation légale ou contractuelle écrite, le logiciel distribué sous la Licence est distribué «en l’état»,
 * SANS GARANTIES OU CONDITIONS QUELLES QU’ELLES SOIENT, expresses ou implicites.
 * Consultez la Licence pour les autorisations et les restrictions linguistiques spécifiques relevant de la Licence.
 */

ScrollPane {

    -fx-background: white;
    -fx-border-color: white;
    -fx-background-color: white;

}

ProgressIndicator {

    -fx-progress-color: #222;

}

PasswordField {

    -fx-border-radius: 50;
    -fx-border-color: #4AA9E7;
    -fx-background-color: white;

}

Button {

    -fx-background-radius: 50;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 14px;
    -fx-text-alignment:center;

}

RadioButton {

    -fx-font-size: 14px;
    -fx-margin: 5px;

}

.icon-primary {

    -fx-background-color: white;
    -fx-alignment: center;
    -fx-padding: 10 0 10 15;

}

.icon-success {

    -fx-background-color: #4FAF6C;
    -fx-shape: "M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z";
}

.icon-warning {

    -fx-background-color: orange;
    -fx-shape: "M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z";

}

.icon-information {

    -fx-background-color: #0096C9;
    -fx-shape: "M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z";

}

.icon-error {

    -fx-background-color: red;
    -fx-shape: "M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z";

}

.icon-password {

    -fx-background-color: white;
    -fx-alignment: center;
    -fx-padding: 0 0 10 25;

}

.icon-qpin {

    -fx-background-color: #001c40;
    -fx-shape: "M79.1 168C79.1 181.3 69.25 192 55.1 192C42.74 192 31.1 181.3 31.1 168V128C31.1 74.98 74.98 32 127.1 32C181 32 223.1 74.98 223.1 128V135.9C223.1 158.1 222.6 180.3 219.9 202.3L352.9 161.1C361.6 158.4 371 160.8 377.3 167.4C383.6 173.1 385.7 183.5 382.6 192.1L354.1 272H416V296.6C406.3 302.2 398.2 310.3 392.6 320H319.1C312.2 320 304.9 316.2 300.4 309.8C295.9 303.4 294.8 295.3 297.4 287.9L321.3 221.1L210.5 255.4L209.5 260.1C196.1 316.3 175.5 370.2 145.8 419.6L129.1 446C117.3 467.1 94.55 480 69.97 480C31.33 480 0 448.7 0 410V335.2C0 296.6 25.13 262.5 61.98 251.1L169 217.1C173.7 190.9 176 163.4 176 135.9V127.1C176 101.5 154.5 79.1 128 79.1C101.5 79.1 80 101.5 80 127.1L79.1 168zM47.1 335.2V410C47.1 422.2 57.84 432 69.97 432C77.69 432 84.84 427.1 88.81 421.3L104.7 394.9C127.7 356.5 145.4 315.1 157.1 271.9L76.17 296.1C59.42 302.2 47.1 317.7 47.1 335.2V335.2zM208.1 368H384V416H184.8C193.3 400.4 201.1 384.3 208.1 368V368zM528 192C572.2 192 608 227.8 608 272V320C625.7 320 640 334.3 640 352V480C640 497.7 625.7 512 608 512H448C430.3 512 416 497.7 416 480V352C416 334.3 430.3 320 448 320V272C448 227.8 483.8 192 528 192zM528 240C510.3 240 496 254.3 496 272V320H560V272C560 254.3 545.7 240 528 240z";

}

.icon-lock {

    -fx-background-color: #001c40;
    -fx-shape: "M224 64c-44.2 0-80 35.8-80 80v48H384c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80V144C80 64.5 144.5 0 224 0c57.5 0 107 33.7 130.1 82.3c7.6 16 .8 35.1-15.2 42.6s-35.1 .8-42.6-15.2C283.4 82.6 255.9 64 224 64zm32 320c17.7 0 32-14.3 32-32s-14.3-32-32-32H192c-17.7 0-32 14.3-32 32s14.3 32 32 32h64z";

}

.top {

    -fx-background-color: #F5F5F5;

}

.center {

    -fx-background-color: white;
    -fx-alignment: center;

}

.form-container {

    -fx-background-color: white;
    -fx-padding: 10 30 10 30;
    -fx-spacing: 10;
    -fx-alignment: top_left;

}

.dash-container {

    -fx-background-color: white;
    -fx-padding: 10 30 10 30;
    -fx-spacing: 10;
    -fx-alignment: center;

}

.message {

    -fx-text-alignment: left;
    -fx-font-size: 14px;
    -fx-padding: 15 15 15 15;

}

.timeMessage {

    -fx-text-alignment: right;
    -fx-font-size: 10px;
    -fx-padding: 3 3 3 3;

}

.plus {

    -fx-background-color: #4AA9E7;
    -fx-shape: "M256 32a224 224 0 1 1 0 448 224 224 0 1 1 0-448zm0 480A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM240 352c0 8.8 7.2 16 16 16s16-7.2 16-16V272h80c8.8 0 16-7.2 16-16s-7.2-16-16-16H272V160c0-8.8-7.2-16-16-16s-16 7.2-16 16v80H160c-8.8 0-16 7.2-16 16s7.2 16 16 16h80v80z";

}

.plus:hover {

    -fx-background-color: #4A76E7;

}

.minus {

    -fx-background-color: #4AA9E7;
    -fx-shape: "M256 32a224 224 0 1 1 0 448 224 224 0 1 1 0-448zm0 480A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM160 240c-8.8 0-16 7.2-16 16s7.2 16 16 16H352c8.8 0 16-7.2 16-16s-7.2-16-16-16H160z";

}

.minus:hover {

    -fx-background-color: #4A76E7;

}

.dashButton {

    -fx-background-color: #001C40;
    -fx-shape: "M0 416c0 8.8 7.2 16 16 16l65.6 0c7.4 36.5 39.7 64 78.4 64s71-27.5 78.4-64L496 432c8.8 0 16-7.2 16-16s-7.2-16-16-16l-257.6 0c-7.4-36.5-39.7-64-78.4-64s-71 27.5-78.4 64L16 400c-8.8 0-16 7.2-16 16zm112 0a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zM304 256a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm48-80c-38.7 0-71 27.5-78.4 64L16 240c-8.8 0-16 7.2-16 16s7.2 16 16 16l257.6 0c7.4 36.5 39.7 64 78.4 64s71-27.5 78.4-64l65.6 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-65.6 0c-7.4-36.5-39.7-64-78.4-64zM192 144a48 48 0 1 1 0-96 48 48 0 1 1 0 96zm78.4-64C263 43.5 230.7 16 192 16s-71 27.5-78.4 64L16 80C7.2 80 0 87.2 0 96s7.2 16 16 16l97.6 0c7.4 36.5 39.7 64 78.4 64s71-27.5 78.4-64L496 112c8.8 0 16-7.2 16-16s-7.2-16-16-16L270.4 80z";

}

.dashButton:hover {

    -fx-background-color: #00407E;

}

.dashButton:pressed {

    -fx-background-color: #00407E;

}

.minimizeButton {

    -fx-background-color: #001C40;
    -fx-shape: 'M24 432c-13.3 0-24 10.7-24 24s10.7 24 24 24H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H24z';
    -fx-border-insets: 12 4 0 0;
    -fx-background-insets: 12 4 0 0;
    -fx-padding: 4 4 -8 0;

}


.minimizeButton:hover {

    -fx-background-color: #0078D7;

}

.minimizeButton:pressed {

    -fx-background-color: #00407E;

}

.closeButton {

    -fx-background-color: #001C40;
    -fx-shape: "M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z";
    -fx-border-insets: 4 4 0 0;
    -fx-background-insets: 4 4 0 0;
    -fx-padding: -4 0 0 0;
}

.closeButton:hover {

    -fx-background-color: #0078D7;

}

.closeButton:pressed {

    -fx-background-color: #00407E;

}

.mItem {

    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: black;

}

.mItem:focused {

    -fx-background-color: #0078D7;

}

.mItem:focused .label {

    -fx-text-fill: white;

}

.btn-container {

    -fx-background-color: #F5F5F5;
    -fx-alignment: center-right;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;

}

.btn-default {

    -fx-background-color: #FFF;
    -fx-text-fill: black;
    -fx-border-color: #4AA9E7;
    -fx-border-radius: 50;

}

.durationTextField {

    -fx-prompt-text-fill: black;

}

.btn-default:hover {

   -fx-background-color: #EEEEEE;

}

.btn-default:pressed {

    -fx-background-color: #AFB7C1;

}

.btn-primary {


    -fx-background-color: #D86985;
    -fx-text-fill: white;

}

.btn-primary:hover {

    -fx-background-color: #DB758F  ;

}

.btn-primary:pressed {

    -fx-background-color: #E9AAB9;

}

.btn-primary:disabled {

    -fx-background-color: #F4AFC2;

}

.btn-secondary {

    -fx-background-color: #4AA9E7;
    -fx-text-fill: white;

}

.btn-secondary:hover {

    -fx-background-color: #73C1EF;

}

.btn-secondary:pressed {

    -fx-background-color: #99CDEF;

}

.btn-danger {

    -fx-background-color: #FF0000;
    -fx-text-fill: white;

}

.btn-danger:hover {

    -fx-background-color: #E92020;

}

.btn-danger:pressed {

    -fx-background-color: #E05050;

}

.btn-events {

    -fx-background-radius: 0;
    -fx-padding: 10 15 10 15;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-text-alignment: center;
    -fx-background-color: #F5F5F5;
    -fx-text-fill: black;

}

.btn-events:hover {

    -fx-background-color: #EEEEEE;

}

.btn-events:pressed {

    -fx-background-color: #D8D8D8;

}

.btn-events:selected {

    -fx-background-color: #DEDFE1;

}

.icon-event-all {

    -fx-background-color: black;
    -fx-shape: "M64 64a32 32 0 1 0 0 64 32 32 0 1 0 0-64zm120 8H160v48h24H488h24V72H488 184zm0 160H160v48h24H488h24V232H488 184zm0 160H160v48h24H488h24V392H488 184zM96 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM64 384a32 32 0 1 0 0 64 32 32 0 1 0 0-64z";

}

.icon-event-day {

    -fx-background-color: black;
    -fx-shape: "M128 16c0-8.8-7.2-16-16-16s-16 7.2-16 16V64H64C28.7 64 0 92.7 0 128v32 32V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 160 128c0-35.3-28.7-64-64-64H352V16c0-8.8-7.2-16-16-16s-16 7.2-16 16V64H128V16zM32 192H416V448c0 17.7-14.3 32-32 32H64c-17.7 0-32-14.3-32-32V192zM64 96H384c17.7 0 32 14.3 32 32v32H32V128c0-17.7 14.3-32 32-32zm40 160h80c4.4 0 8 3.6 8 8v80c0 4.4-3.6 8-8 8H104c-4.4 0-8-3.6-8-8V264c0-4.4 3.6-8 8-8zm-40 8v80c0 22.1 17.9 40 40 40h80c22.1 0 40-17.9 40-40V264c0-22.1-17.9-40-40-40H104c-22.1 0-40 17.9-40 40z";


}

.icon-event-last {

    -fx-background-color: black;
    -fx-shape: "M48 106.7V56c0-13.3-10.7-24-24-24S0 42.7 0 56V168c0 13.3 10.7 24 24 24H136c13.3 0 24-10.7 24-24s-10.7-24-24-24H80.7c37-57.8 101.7-96 175.3-96c114.9 0 208 93.1 208 208s-93.1 208-208 208c-42.5 0-81.9-12.7-114.7-34.5c-11-7.3-25.9-4.3-33.3 6.7s-4.3 25.9 6.7 33.3C155.2 496.4 203.8 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C170.3 0 94.4 42.1 48 106.7zM256 128c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z";

}

.icon-event-exit {

    -fx-background-color: black;
    -fx-shape: "M272 0a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM163.2 160c-14.1 0-27.5 5.6-37.5 15.5l-23.1 23.1c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l23.1-23.1C102.4 108.3 132.2 96 163.2 96c11.7 0 23.3 1.7 34.4 5.2l48.7 15c36.4 11.2 65.9 38 80.5 73.1l6.3 15c5 11.9 16.6 19.7 29.5 19.7H384c17.7 0 32 14.3 32 32s-14.3 32-32 32H362.7c-38.8 0-73.7-23.3-88.6-59.1l-5.1-12.3L238 299l56.7 35.4c18.1 11.3 26.6 33.3 20.7 53.9L286.8 488.8c-4.9 17-22.6 26.8-39.6 22s-26.8-22.6-22-39.6l25.4-88.8-86.2-53.9c-25.1-15.7-36.1-46.5-26.8-74.5l31.2-93.7c-1.9-.2-3.7-.3-5.6-.3zM109.5 310.7c7.4 18.1 20.4 33.9 37.9 44.9l9.5 6-11.5 25.9c-7.7 17.3-24.9 28.5-43.9 28.5H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H91.2l18.3-41.3zM384 48c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48V464c0 26.5-21.5 48-48 48H432c-26.5 0-48-21.5-48-48V320h0c35.3 0 64-28.7 64-64s-28.7-64-64-64h0V48z";

}

.overlay {

    -fx-background-color: rgba(0, 0, 0, 0.5);

}

.do-not-show-container {

    -fx-background-color: #F5F5F5;
    -fx-padding: 7 15 7 15;

}

.store-input-container {

    -fx-background-color: #F5F5F5;
    -fx-padding: 7 15 7 15;

}

.text-area .content{

    -fx-background-color: #C0C0C0;

}

.label-left-align {

    -fx-padding: 0 0 0 10;

}

.label-left-align-bold {

    -fx-padding: 0 0 0 10;
	-fx-font-weight: bold;

}

.aboutTitle {

	-fx-margin: 5px;
	-fx-font-weight: bold;

}

.notification {

    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #0096C9;

}

.notification-message {

    -fx-text-alignment: left;
    -fx-font-size: 14px;
    -fx-padding: 5 15 5 15;

}

.notificationTimer {

    -fx-progress-color: #4AA9E7;
    /*-fx-fill: null;*/
    -fx-padding: 5 0 -13 0; /* t r b l*/

}

.notificationTimer .percentage {

    -fx-fill: null;

}

.notificationTimer > .determinate-indicator > .indicator {

    -fx-background-color: transparent;

}

.notificationTimer:indeterminate {

    -fx-background-color: transparent;
    -fx-fill: null;
    -fx-progress-color: transparent;
    -fx-padding: -50 0 0 -50;

}

.timerProgress {

    -fx-progress-color: #4AA9E7;
    -fx-fill: null;

}

.timerProgress .percentage {

    -fx-fill: null;

}

.timerProgress {
    -fx-padding: 0 0 -16 0;
}

.timerProgress > .determinate-indicator > .indicator {

    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 5 2 1 2;
    -fx-padding: 2px;

}

.expired-row {

    -fx-background: #FF9090 !important;
    -fx-table-cell-border-color: #F9F9F9 !important;

}

.expired-row:selected {

    -fx-background: #FF5555 !important;
    -fx-table-cell-border-color: #FF7D7D !important;

}