/**
 * © Nowina Solutions, 2015-2015
 * © SEFIRA spol. s r.o., 2020-2021
 *
 * Concédée sous licence EUPL, version 1.1 ou – dès leur approbation par la Commission européenne - versions ultérieures de l’EUPL (la «Licence»).
 * Vous ne pouvez utiliser la présente œuvre que conformément à la Licence.
 * Vous pouvez obtenir une copie de la Licence à l’adresse suivante:
 *
 * http://ec.europa.eu/idabc/eupl5
 *
 * Sauf obligation légale ou contractuelle écrite, le logiciel distribué sous la Licence est distribué «en l’état»,
 * SANS GARANTIES OU CONDITIONS QUELLES QU’ELLES SOIENT, expresses ou implicites.
 * Consultez la Licence pour les autorisations et les restrictions linguistiques spécifiques relevant de la Licence.
 */

ProgressIndicator {


    -fx-progress-color: #222;

}

PasswordField {

    -fx-border-radius: 50;
    -fx-border-color: #4AA9E7;
    -fx-background-color: white;

}

Button {

    -fx-background-radius: 50;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 14px;
    -fx-text-alignment:center;

}

RadioButton {

    -fx-font-size: 14px;
    -fx-margin: 5px;

}

.icon-primary {

    -fx-background-color: white;
    -fx-alignment: center;
    -fx-padding: 10 0 10 15;

}

.icon-warning {

    -fx-background-color: orange;
    -fx-shape: "M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z";

}

.icon-information {

    -fx-background-color: #0096C9;
    -fx-shape: "M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z";

}

.icon-error {

    -fx-background-color: red;
    -fx-shape: "M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z";

}

.top {

    -fx-background-color: #F5F5F5;

}

.center {

    -fx-background-color: white;
    -fx-alignment: center;

}

.form-container {

    -fx-background-color: white;
    -fx-padding: 10 30 10 30;
    -fx-spacing: 10;
    -fx-alignment: left;

}

.message {

    -fx-text-alignment: left;
    -fx-font-size: 14px;
    -fx-padding: 15 15 15 15;

}

.btn-container {

    -fx-background-color: #F5F5F5;
    -fx-alignment: center-right;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;

}

.btn-default {

    -fx-background-color: #FFF;
    -fx-text-fill: black;
    -fx-border-color: #4AA9E7;
    -fx-border-radius: 50;

}

.btn-default:hover {

   -fx-background-color: #CED3D8;

}

.btn-default:pressed {

    -fx-background-color: #AFB7C1;

}

.btn-primary {


    -fx-background-color: #D86985;
    -fx-text-fill: white;

}

.btn-primary:hover {

    -fx-background-color: #DB758F  ;

}

.btn-primary:pressed {

    -fx-background-color: #E9AAB9;

}

.btn-primary:disabled {

    -fx-background-color: #F4AFC2;

}

.btn-secondary {

    -fx-background-color: #4AA9E7;
    -fx-text-fill: white;

}

.btn-secondary:hover {

    -fx-background-color: #73C1EF;

}

.btn-secondary:pressed {

    -fx-background-color: #99CDEF;

}

.btn-danger {

    -fx-background-color: #FF0000;
    -fx-text-fill: white;

}

.btn-danger:hover {

    -fx-background-color: #E92020;

}

.btn-danger:pressed {

    -fx-background-color: #E05050;

}

.overlay {

    -fx-background-color: rgba(0, 0, 0, 0.5);

}

.do-not-show-container {

    -fx-background-color: #F5F5F5;
    -fx-padding: 7 10 2 10;

}

.text-area .content{
    -fx-background-color: #C0C0C0;
}

.label-left-align {
    -fx-padding: 0 0 0 10;
}

.label-left-align-bold {
    -fx-padding: 0 0 0 10;
	-fx-font-weight: bold;
}

ScrollPane {
	-fx-background-color:transparent;
}

.aboutTitle {
	-fx-margin: 5px;
	-fx-font-weight: bold;
}
